.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-family: var(--font-primary);
  font-size: 16px;
  cursor: pointer;
}
