.button {
  /* Requirement #4: Black variant */
  background-color: #121212; 
  
  /* Requirement #5: Green variant */
  color: #34c94b; 
  
  /* Requirement #6: Border Radius */
  border-radius: 8px; 
  
  /* Requirement #7: Cursor pointer */
  cursor: pointer; 
  
  /* Requirement #8: Poppins Font */
  font-family: "Poppins", sans-serif;
  
  padding: 10px 16px;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}