.hero {
  /* Aligns with your current CSS logic */
  height: 529px; 
  background-color: var(--color-black); /* Defined as #121212 */
  display: flex;
  align-items: center; /* Vertically centered */
  justify-content: center; /* Horizontally centered */
  gap: 40px;
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

.hero h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.hero img {
  display: flex;
  object-fit: contain;
}