.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 159px; /* standard card width from Figma */
}

.card {
  position: relative;
  width: 159px;
  height: 205px;
  border-radius: 10px;
  overflow: hidden; /* Ensures image and banner respect border-radius */
  background-color: var(--color-white);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.banner {
  height: 35px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.chip {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 10px !important;
}

.titleWrapper p {
  color: var(--color-white);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}