.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 159px;
  height: 205px;
  border-radius: 10px;
  overflow: hidden; /* Required to prevent image overflow */
  background-color: var(--color-white);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.banner {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0px 8px;
  background-color: var(--color-white);
}

.chip {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
  font-size: 10px !important;
  height: 23px !important;
}

.titleWrapper p {
  color: var(--color-white);
  font-size: 14px;
  margin: 0;
}