.wrapper {
    position: relative;
    width: 100%;
}

:global(.swiper-slide) {
    width: auto !important;
}

.leftNavigation, .rightNavigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    background-color: #34C94B; /* Figma Primary 400 green */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftNavigation {
    left: 10px;
}

.rightNavigation {
    right: 10px;
}

.leftNavigation svg, .rightNavigation svg {
    color: #FFFFFF;
    font-size: 18px;
}