.wrapper {
    position: relative;
    width: 100%;
}

:global(.swiper-slide) {
    width: auto !important;
}

.wrapper :global(.swiper) {
    padding: 0px 40px; /* Space for navigation buttons */
}

.leftNavigation, .rightNavigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    /* Circular green background styling */
    background-color: var(--color-primary); /* #34c94b */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftNavigation {
    left: 0;
}

.rightNavigation {
    right: 0;
}

/* Style the MUI Icon color inside the circle */
.leftNavigation svg, .rightNavigation svg {
    color: white;
    font-size: 20px;
}