.sectionWrapper {
  padding: 20px 40px;
}

.header {
  display: flex;
  /* Requirement: Proper horizontal spacing between Title and Button */
  justify-content: space-between;
  align-items: center;
  /* Requirement: Proper vertical spacing between Title and Grid */
  margin-bottom: 20px;
}

.toggleText {
  color: var(--color-primary); /* Use #34c94b green */
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}

.grid {
  display: grid;
  /* Requirement: Responsive grid layout */
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 40px;
}