.wrapper {
  display: flex;
  align-items: center;
  width: 568px;
  height: 48px;
  position: relative;
}

.search {
  width: 100%;
  height: 100%;
  border-radius: 8px 0px 0px 8px; /* Rounded corners on left only */
  border: 1px solid var(--color-black); /* #121212 */
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  outline: none;
}

.searchButton {
  width: 66px;
  height: 100%;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-left: none;
  border-radius: 0px 8px 8px 0px; /* Rounded corners on right only */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchButton {
  width: 66px;
  height: 100%;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-left: none;
  border-radius: 0px 8px 8px 0px; /* Rounded corners on right only */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}