@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /* Global font fallback */
}