:root {
  --color-primary: #34c94b; /* QTify green */
  --color-black: #000000;
  --color-white: #ffffff;
  --font-primary: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
}

